fastapi 
uvicorn 
sqlalchemy 
alembic 
asyncpg 
psycopg2-binary 
python-dotenv
pydantic[email]
pydantic-settings
google-cloud-compute
google-cloud-storage
google-cloud-container
google-cloud-billing
google-cloud-billing-budgets
google-cloud-functions
google-cloud-dns
google-api-python-client
google-cloud-resource-manager
langchain
langchain-groq
langchain-community
langchain-core
pyyaml
mcp
passlib[bcrypt]
python-jose[cryptography]
langgraph
